:root {
	--sl-color-accent-low: #dbeafe;
	--sl-color-accent: #3b82f6;
	--sl-color-accent-high: #1d4ed8;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f3f4f6;
	--sl-color-gray-2: #e5e7eb;
	--sl-color-gray-3: #d1d5db;
	--sl-color-gray-4: #9ca3af;
	--sl-color-gray-5: #6b7280;
	--sl-color-gray-6: #4b5563;
	--sl-color-black: #111827;
}

[data-theme='dark'] {
	--sl-color-accent-low: #1e3a8a;
	--sl-color-accent: #60a5fa;
	--sl-color-accent-high: #bfdbfe;
	--sl-color-white: #111827;
	--sl-color-gray-1: #1f2937;
	--sl-color-gray-2: #374151;
	--sl-color-gray-3: #4b5563;
	--sl-color-gray-4: #9ca3af;
	--sl-color-gray-5: #d1d5db;
	--sl-color-gray-6: #e5e7eb;
	--sl-color-black: #ffffff;
}
